<div> 
    <h1>Products</h1>
    <ul>
        {{#each products.docs}} 
            <li>{{this.title }}   ${{this.price}}</li> 
        {{/each }}
    </ul>
    <div>
        {{#if products.hasPrevPage }} {{! si tiene una pagina previa, le muestra el link href}}
        <a href="/products?page={{products.prevPage}}">Anterior</a>
        {{/if}}

        <span>Página {{products.page}} de {{products.totalPages}}</span>

        {{#if products.hasNextPage }} {{! si tiene una pagina previa, le muestra el link href}}
        <a href="/products?page={{products.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
</div>